Repository pulp-platform/snitch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: occamy_vcu128, occamy_vcu128_fpga

Path conditions:
  occamy_vcu128: any of: .gitlab-ci.d/occamy_cfg_fpga.sh, hw/ip/**/*, hw/vendor/**/*, hw/system/occamy/**/*, util/occamygen.py, util/clustergen/**/*, util/solder/**/*, util/Makefrag, util/reggen, util/regtool.py
  occamy_vcu128_fpga: any of: .gitlab-ci.d/occamy_cfg_fpga.sh, .gitlab-ci.d/occamy_fpga_nightly.sh, hw/ip/**/*, hw/vendor/**/*, hw/system/occamy/**/*

snBlas: Redesign to align with new build system
  hw/system/snitch_cluster/sw/Makefile
  sw/blas/axpy/.gitignore
  sw/blas/axpy/Makefile
  sw/blas/axpy/data/datagen.py
  sw/blas/axpy/src/axpy.h
  sw/blas/axpy/src/main.c
  sw/snBLAS/.gitignore
  sw/snBLAS/CMakeLists.txt
  sw/snBLAS/README.md
  sw/snBLAS/include/snblas.h
  sw/snBLAS/src/axpy.c
  sw/snBLAS/tests/simple.c
Due: none

snitch_cluster: Adapt to new snRuntime and build system
  .github/workflows/ci.yml
  hw/system/.gitignore
  hw/system/snitch_cluster/.gitignore
  hw/system/snitch_cluster/Makefile
  hw/system/snitch_cluster/cfg/.gitignore
  hw/system/snitch_cluster/cfg/cluster.hjson
  hw/system/snitch_cluster/cfg/core.hjson
  hw/system/snitch_cluster/sw/CMakeLists.txt
  hw/system/snitch_cluster/sw/Makefile
  hw/system/snitch_cluster/sw/apps/blas/axpy/Makefile
  hw/system/snitch_cluster/sw/apps/common.mk
  hw/system/snitch_cluster/sw/apps/nop/Makefile
  hw/system/snitch_cluster/sw/apps/nop/src/nop.c
  hw/system/snitch_cluster/sw/runtime/Makefile
  hw/system/snitch_cluster/sw/runtime/memory.ld
  hw/system/snitch_cluster/sw/runtime/platform/.gitignore
  hw/system/snitch_cluster/sw/runtime/platform/snitch_cluster_addrmap.h.tpl
  hw/system/snitch_cluster/sw/runtime/platform/snitch_cluster_cfg.h.tpl
  hw/system/snitch_cluster/sw/runtime/src/snitch_cluster_defs.h
  hw/system/snitch_cluster/sw/runtime/src/snitch_cluster_memory.c
  hw/system/snitch_cluster/sw/runtime/src/snitch_cluster_memory.h
  hw/system/snitch_cluster/sw/runtime/src/snitch_cluster_start.S
  hw/system/snitch_cluster/sw/runtime/src/snitch_cluster_start.c
  hw/system/snitch_cluster/sw/runtime/src/snrt.c
  hw/system/snitch_cluster/sw/runtime/src/snrt.h
  hw/system/snitch_cluster/sw/toolchain.mk
  sw/snRuntime/src/start.S
  util/Makefrag
  util/clustergen.py
Due: occamy_vcu128

ci: Disable Banshee FP tests known to fail due to inaccurate emulation
  hw/system/snitch_cluster/sw/tests/banshee-apps.list
Due: none

ci: Increase DRAM size config for Banshee such that barrier test does not cause writes outside of memory region
  sw/banshee/config/snitch_cluster.yaml
Due: none

ci: Add banshee-apps.list tests to sw compilation flow
  hw/system/snitch_cluster/sw/tests/Makefile
Due: none

ci: Fix rebase issue
  .github/workflows/ci.yml
Due: none

gitlab-ci: Set correct compiler env variables
  .gitlab-ci.yml
Due: none

Update FPU with new StochasticRndImplementation param and fix lint
  hw/ip/future/src/dma/axi_dma_backend.sv
  hw/ip/future/src/dma/axi_dma_data_path.sv
  hw/ip/snitch_cluster/src/snitch_fpu.sv
Due: occamy_vcu128, occamy_vcu128_fpga

ci: Update Ubuntu image and replace some actions with PULP defaults (#486)
  .github/workflows/build-docker.yml
  .github/workflows/ci.yml
  .github/workflows/gitlab-ci.yml
  .github/workflows/lint.yml
  .github/workflows/publish-docs.yml
  .gitlab-ci.yml
  Bender.local
  docs/ug/setup-iis.md
  hw/ip/future/src/axi_interleaved_xbar.sv
  hw/ip/future/src/dma/axi_dma_backend.sv
  hw/ip/future/src/dma/axi_dma_data_path.sv
  hw/ip/snitch/Bender.yml
  hw/ip/snitch_cluster/Bender.yml
  hw/ip/snitch_cluster/src/snitch_cluster_peripheral/Makefile
  hw/system/occamy/Makefile
  hw/system/occamy/src/occamy_cva6.sv
  hw/system/occamy/src/occamy_pkg.sv
  hw/system/occamy/src/occamy_quadrant_s1.sv
  hw/system/occamy/src/occamy_soc.sv
  hw/system/occamy/src/occamy_top.sv
  hw/vendor/openhwgroup_cva6/Bender.yml
  hw/vendor/patches/openhwgroup_cva6/0008-cva6-Update-git-dependencies.patch
Due: occamy_vcu128, occamy_vcu128_fpga

util: Add performance evaluation utilities
  python-requirements.txt
  util/gen_trace.py
  util/trace/annotate.py
  util/trace/events.py
  util/trace/eventvis.py
  util/trace/layout_events.py
  util/trace/perf_csv.py
Due: none

snRuntime: Add redesigned runtime
  sw/snRuntime/api/alloc_decls.h
  sw/snRuntime/api/cls_decls.h
  sw/snRuntime/api/cluster_interrupt_decls.h
  sw/snRuntime/api/global_interrupt_decls.h
  sw/snRuntime/api/memory_decls.h
  sw/snRuntime/api/sync_decls.h
  sw/snRuntime/api/team_decls.h
  sw/snRuntime/base.ld
  sw/snRuntime/src/alloc.c
  sw/snRuntime/src/alloc.h
  sw/snRuntime/src/cls.c
  sw/snRuntime/src/cls.h
  sw/snRuntime/src/cluster_interrupts.c
  sw/snRuntime/src/cluster_interrupts.h
  sw/snRuntime/src/dma.c
  sw/snRuntime/src/dma.h
  sw/snRuntime/src/global_interrupts.c
  sw/snRuntime/src/global_interrupts.h
  sw/snRuntime/src/riscv.h
  sw/snRuntime/src/ssr.h
  sw/snRuntime/src/start.S
  sw/snRuntime/src/start.c
  sw/snRuntime/src/sync.c
  sw/snRuntime/src/sync.h
  sw/snRuntime/src/team.c
  sw/snRuntime/src/team.h
Due: none

gen_trace.py: Extend to support FP8ALT format
  util/gen_trace.py
Due: none

sw: add linear kernel (WIP)
  sw/applications/CMakeLists.txt
  sw/applications/data/linear_params.hjson
  sw/applications/data_gen.py
  sw/applications/include/layer.h
  sw/applications/src/kernels/linear.h
  sw/applications/src/layers/linear_layer.c
  sw/applications/src/layers/linear_layer.h
  sw/applications/src/net_linear.c
  sw/applications/src/utils/utils.c
Due: none

sw: add linear kernel
  sw/applications/CMakeLists.txt
  sw/applications/data/linear_params.hjson
  sw/applications/data_gen.py
  sw/applications/include/layer.h
  sw/applications/src/kernels/linear.h
  sw/applications/src/layers/linear_layer.c
  sw/applications/src/net_linear.c
Due: none

sw: add softmax wrapper for fp32 softmax kernel
  sw/applications/src/layers/softmax_layer.c
Due: none

sw: add layernorm in fp32, no simd
  sw/applications/CMakeLists.txt
  sw/applications/data/layernorm_params.hjson
  sw/applications/data_gen.py
  sw/applications/include/layer.h
  sw/applications/src/kernels/layernorm.h
  sw/applications/src/layers/layernorm_layer.c
  sw/applications/src/layers/layernorm_layer.h
  sw/applications/src/net_layernorm.c
Due: none

sw: add 3D GELU layer
  sw/applications/CMakeLists.txt
  sw/applications/data/gelu_params.hjson
  sw/applications/data_gen.py
  sw/applications/include/layer.h
  sw/applications/src/kernels/gelu.h
  sw/applications/src/layers/gelu_layer.c
  sw/applications/src/layers/gelu_layer.h
  sw/applications/src/net_gelu.c
Due: none

sw: add prec to gelu
  sw/applications/data/gelu_params.hjson
Due: none

sw: add softmax layer
  sw/applications/CMakeLists.txt
  sw/applications/data/softmax_params.hjson
  sw/applications/data_gen.py
  sw/applications/include/layer.h
  sw/applications/src/kernels/softmax.h
  sw/applications/src/layers/softmax_layer.c
  sw/applications/src/layers/softmax_layer.h
  sw/applications/src/net_softmax.c
Due: none

sw: modify layer norm for occamAI
  sw/applications/CMakeLists.txt
  sw/applications/data/layernorm_params.hjson
  sw/applications/data_gen.py
  sw/applications/src/layers/layernorm_layer.c
  sw/applications/src/net_layernorm.c
Due: none

ci: Switch from yamlfmt to yamllint
  .github/workflows/build-docker.yml
  .github/workflows/ci.yml
  .github/workflows/gitlab-ci.yml
  .github/workflows/lint.yml
  .github/workflows/publish-docs.yml
  .gitlab-ci.d/Memora.yml
  .gitlab-ci.yml
  .yamlignore
  .yamllint
  hw/ip/future/Bender.yml
  hw/ip/mem_interface/Bender.yml
  hw/ip/reqrsp_interface/Bender.yml
  hw/ip/snitch/Bender.yml
  hw/ip/snitch_cluster/Bender.yml
  hw/ip/snitch_dma/Bender.yml
  hw/ip/snitch_icache/Bender.yml
  hw/ip/snitch_ipu/Bender.yml
  hw/ip/snitch_read_only_cache/Bender.yml
  hw/ip/snitch_ssr/Bender.yml
  hw/ip/snitch_vm/Bender.yml
  hw/ip/spm_interface/Bender.yml
  hw/ip/tcdm_interface/Bender.yml
  hw/ip/test/Bender.yml
  hw/system/occamy/Bender.yml
  hw/system/snitch_cluster/Bender.yml
  python-requirements.txt
  sw/banshee/config/mempool.yaml
  sw/banshee/config/multi_cluster_periph.yaml
  sw/banshee/config/multi_cluster_simple.yaml
  sw/banshee/config/snitch_cluster.yaml
  util/yml-format
Due: occamy_vcu128, occamy_vcu128_fpga

snRuntime: Correct bug in `omp.c`
  hw/system/snitch_cluster/sw/tests/Makefile
  hw/system/snitch_cluster/sw/tests/passing-apps.list
  sw/snRuntime/src/omp/kmp.c
  sw/snRuntime/src/omp/omp.c
  sw/tests/openmp_double_buffering.c
  sw/tests/openmp_for_static_schedule.c
  sw/tests/openmp_parallel.c
Due: none

snitch_cluster: Disable atomics test w/ Banshee
  hw/system/snitch_cluster/sw/tests/banshee-apps.list
  sw/tests/openmp_double_buffering.c
Due: none

ci: Keep only 5 latest memora artifacts
  .gitlab-ci.yml
Due: none

axi: Bump after merge of PR #293
  Bender.local
Due: none

ci: Postpone Snitch cluster Questasim tests
  .gitlab-ci.yml
Due: none

fpga: Update base Occamy config file
  .gitlab-ci.d/occamy_cfg_fpga.sh
Due: occamy_vcu128, occamy_vcu128_fpga

gen_trace.py: Correct bug
  util/gen_trace.py
Due: none

occamy: Correct bug in heterogeneous binary build
  hw/system/occamy/sw/host/apps/common.mk
Due: occamy_vcu128, occamy_vcu128_fpga
