Repository pulp-platform/snitch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: occamy_vcu128, occamy_vcu128_fpga

Path conditions:
  occamy_vcu128: any of: .gitlab-ci.d/occamy_cfg_fpga.sh, hw/ip/**/*, hw/vendor/**/*, hw/system/occamy/**/*, util/occamygen.py, util/clustergen/**/*, util/solder/**/*, util/Makefrag, util/reggen, util/regtool.py
  occamy_vcu128_fpga: any of: .gitlab-ci.d/occamy_cfg_fpga.sh, .gitlab-ci.d/occamy_fpga_nightly.sh, hw/ip/**/*, hw/vendor/**/*, hw/system/occamy/**/*

ci: Start vcu128 implementation only on pull requests
  .gitlab-ci.yml
Due: none

sw: cleanup nnlinear baseline for faster exec
  sw/applications/src/layers/nnlinear_backend_baseline.c
Due: none

sw: adjust cmake file for multicluster
  sw/cmake/SnitchUtilities.cmake
Due: none

cmake: fix config issue causing timeout in CI
  sw/applications/CMakeLists.txt
  sw/banshee/config/snitch_cluster.yaml
  sw/cmake/SnitchUtilities.cmake
Due: none

sw: clang format on nnlinear base
  sw/applications/src/layers/nnlinear_backend_baseline.c
Due: none

banshee: rustfmt on tran
  sw/banshee/src/tran.rs
Due: none

ci: replaced PR condition with default branch
  .gitlab-ci.yml
Due: none

ci: Bump Ubuntu to >=20.04 as 18.04 image was removed
  .github/workflows/ci.yml
  .github/workflows/lint.yml
Due: none

ci: Use apt-get instead of apt
  .github/workflows/ci.yml
  .github/workflows/lint.yml
Due: none

ci: Use PULP lint-license action
  .github/workflows/lint.yml
Due: none

banshee: fix default in config
  sw/banshee/src/configuration.rs
Due: none

ci: deactivate beta tests due to outstanding LLVM 16 upgrade
  .github/workflows/ci.yml
Due: none

banshee: fix default offset in tcdm
  sw/banshee/src/configuration.rs
Due: none

banshee: remove SSR matmul due to multicluster issue
  sw/banshee/Makefile
Due: none

banshee: remove multicluster tests due to incompatibility with new runtime
  sw/banshee/Makefile
  sw/banshee/tests/args/barrier
  sw/banshee/tests/args/matmul_baseline
  sw/banshee/tests/args/matmul_ssr
Due: none

solder: Fix bug in AxiXbar addr_map_len() method
  util/solder/solder.py
Due: occamy_vcu128

ci: Disable Banshee beta as breaking RUST changes are coming
  .github/workflows/ci.yml
Due: none

cvfpu: Use commit for CVFPU instead of branch until there is a new release version
  Bender.local
  hw/ip/snitch/Bender.yml
  hw/ip/snitch_cluster/Bender.yml
  hw/vendor/openhwgroup_cva6/Bender.yml
  hw/vendor/patches/openhwgroup_cva6/0008-cva6-Update-git-dependencies.patch
Due: occamy_vcu128, occamy_vcu128_fpga

update CI ubuntu version to 22.04 and update clang-format from v10 to v12
  .github/workflows/build-docker.yml
  .github/workflows/ci.yml
  .github/workflows/gitlab-ci.yml
  .github/workflows/lint.yml
  .github/workflows/publish-docs.yml
  hw/ip/snitch_cluster/src/snitch_cluster_peripheral/Makefile
  hw/system/occamy/Makefile
Due: occamy_vcu128, occamy_vcu128_fpga

ci: Deactivate banshee on rust beta test
  .github/workflows/ci.yml
Due: none

ci: Update Verible from v0.0-807-g10e7c71 to v0.0-3222-gb19cdf44
  .github/workflows/lint.yml
  .gitlab-ci.yml
  docs/ug/setup-iis.md
  hw/ip/future/src/axi_interleaved_xbar.sv
  hw/ip/future/src/dma/axi_dma_data_path.sv
Due: occamy_vcu128, occamy_vcu128_fpga

Update FPU
  Bender.local
  hw/ip/snitch/Bender.yml
  hw/ip/snitch_cluster/Bender.yml
  hw/ip/snitch_cluster/src/snitch_fpu.sv
Due: occamy_vcu128, occamy_vcu128_fpga

ci: Update Verible from v0.0-807-g10e7c71 to v0.0-3222-gb19cdf44
  .github/workflows/lint.yml
  .gitlab-ci.yml
  docs/ug/setup-iis.md
  hw/ip/future/src/axi_interleaved_xbar.sv
  hw/ip/future/src/dma/axi_dma_data_path.sv
  hw/system/occamy/src/occamy_cva6.sv
  hw/system/occamy/src/occamy_pkg.sv
  hw/system/occamy/src/occamy_quadrant_s1.sv
  hw/system/occamy/src/occamy_soc.sv
  hw/system/occamy/src/occamy_top.sv
Due: occamy_vcu128, occamy_vcu128_fpga

ci: Commit just to run CI
  .gitlab-ci.yml
Due: none

Added manual--poll-count and manual-err to allow for manual pipelines
  .github/workflows/gitlab-ci.yml
Due: none

Fix reference to FIFO buffer
  hw/ip/future/src/dma/axi_dma_backend.sv
Due: occamy_vcu128, occamy_vcu128_fpga

Update FPU with new CompessedVecCmpResult param
  Bender.local
  hw/ip/snitch/Bender.yml
  hw/ip/snitch_cluster/Bender.yml
  hw/ip/snitch_cluster/src/snitch_fpu.sv
Due: occamy_vcu128, occamy_vcu128_fpga

ci: Increase timeout of gitlab-ci tests
  .github/workflows/gitlab-ci.yml
Due: none

gitlab-ci: Add snitch_cluster vsim and vcs tests
  .gitlab-ci.yml
Due: none

sw: remove old multi cluster tests
  sw/banshee/Makefile
Due: none

util: Add performance evaluation utilities
  python-requirements.txt
  util/gen_trace.py
  util/trace/annotate.py
  util/trace/events.py
  util/trace/eventvis.py
  util/trace/layout_events.py
  util/trace/perf_csv.py
Due: none

snRuntime: Add redesigned runtime
  sw/snRuntime/api/alloc_decls.h
  sw/snRuntime/api/cls_decls.h
  sw/snRuntime/api/cluster_interrupt_decls.h
  sw/snRuntime/api/global_interrupt_decls.h
  sw/snRuntime/api/memory_decls.h
  sw/snRuntime/api/sync_decls.h
  sw/snRuntime/api/team_decls.h
  sw/snRuntime/base.ld
  sw/snRuntime/src/alloc.c
  sw/snRuntime/src/alloc.h
  sw/snRuntime/src/cls.c
  sw/snRuntime/src/cls.h
  sw/snRuntime/src/cluster_interrupts.c
  sw/snRuntime/src/cluster_interrupts.h
  sw/snRuntime/src/dma.c
  sw/snRuntime/src/dma.h
  sw/snRuntime/src/global_interrupts.c
  sw/snRuntime/src/global_interrupts.h
  sw/snRuntime/src/riscv.h
  sw/snRuntime/src/ssr.h
  sw/snRuntime/src/start.S
  sw/snRuntime/src/start.c
  sw/snRuntime/src/sync.c
  sw/snRuntime/src/sync.h
  sw/snRuntime/src/team.c
  sw/snRuntime/src/team.h
Due: none

gen_trace.py: Extend to support FP8ALT format
  util/gen_trace.py
Due: none
